<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.infrastructure.mapper.CommentMapper">
    <select id="getComments" resultType="com.example.demo.infrastructure.mapper.CommentEntity">
        select *
        from comment
        inner join blog
        on comment.blog_id = blog.id
        where comment.blog_id = #{blogId}
    </select>

    <insert id="registComment">
        INSERT INTO comment (name, comment, blog_id, post_date)
        VALUES (#{name}, #{comment}, #{blogId}, current_date)
    </insert>
</mapper>
